/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
/*tags*/
body {
  margin: 0px auto;
  padding: 0px;
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
  text-align: center;
}

header {
  border-bottom: 1px;
  border-color: #ececec;
  border-style: solid;
  text-align: center;
}

div h1 {
  text-align: center;
}

ul {
  padding: 0;
}

h2 {
  color: #212121;
}

p {
  color: #757575;
}

li {
  list-style: none;
}

button {
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
  background-color: transparent;
}

fieldset {
  border-color: transparent;
}

.p-0 {
  padding: 0px 0px;
}

.m-0 {
  margin: 0px 0px;
}

.b-0 {
  border: 0;
}

.btn {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  transform: scale(1.1);
}

/*Body*/
.container {
  margin: 0px auto;
  width: 1200px;
}

.section {
  padding: 94px 0px;
}

/*Modal*/
.location-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: white;
  padding: 10% 0;
  width: 528px;
  height: 581px;
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(117, 117, 117);
  text-align: start;
  padding: 0px 40px;
}

.modal-send-form-group {
  font-weight: 400;
  font-size: 12px;
}

.svg-modal {
  position: relative;
  bottom: 25px;
  right: -15px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal-form {
  padding: 15px;
}

.input-modal-form {
  width: 448px;
  border-radius: 4px;
  padding: 5px 40px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  resize: none;
  padding: 10px;
}

.input-modal-form:hover:hover {
  cursor: pointer;
  border: 2px solid #2196f3;
}
.input-modal-form:hover:focus {
  border: 2px solid #2196f3;
}
.input-modal-form:hover:hover + .svg-modal, .input-modal-form:hover:focus + .svg-modal {
  fill: #2196f3;
}

.label-rel:focus-visible {
  border: 2px solid #2196f3;
}
.label-rel:hover > .svg-modal {
  fill: #2196f3;
}

.checkbox-form {
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 5px 10px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icons/iconcheck.svg);
  border-color: #2196f3;
  background-color: #2196f3;
}

.header-modal {
  width: 100%;
  height: 0;
  display: flex;
  justify-content: end;
}

.main-modal {
  width: 100%;
  margin-bottom: 1%;
}

.p-modal {
  padding: 20px;
  margin: 0;
}

.btn-close-modal {
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  top: -3px;
  right: 3px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.btn-close-modal:hover {
  fill: #2196f3;
}

.svg-close-modal {
  background-color: transparent;
  position: relative;
  top: 5px;
  width: 18px;
  height: 18px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0px !important;
  width: 0px !important;
  overflow: hidden;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-checkbox-label::before {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  margin-bottom: 20px;
}

/*Header*/
.nav-bar__logo {
  font-family: "Raleway", sans-serif;
  text-align: right;
  font-style: normal;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.header__nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar__logo a {
  color: #2196f3;
}

.nav-bar__links--link-current::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4px;
  bottom: -37px;
  background-color: #2196f3;
  border-radius: 4px;
}

.nav-bar__links {
  display: flex;
  align-items: start;
  gap: 25%;
}

.nav-bar__links--link-color a {
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-bar__links--link-color a:hover {
  color: #2196f3;
  background-color: transparent;
  text-decoration: none;
}

.nav-bar__links-info--contact a {
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bar__links-info--contact:hover .nav-bar__links-info--svg-contact {
  cursor: pointer;
  fill: #2196f3;
}
.nav-bar__links-info--contact:hover a {
  cursor: pointer;
  color: #2196f3;
  background-color: transparent;
  text-decoration: none;
}

.nav-bar__links-info--svg-contact {
  fill: #757575;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-bar {
  padding: 32px 0px;
  display: flex;
  justify-content: space-between;
}

.nav-bar__links-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-bar__links-info .nav-bar__links-info--contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*section solution-title*/
.main__section-title {
  background-image: linear-gradient(0deg, rgb(2, 0, 36), rgba(5, 5, 87, 0.11)), url("../images/work-group.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}

.main__section-title-ul--h1-title {
  color: #ffffff;
  width: 650px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.main__section-title-ul {
  display: flex;
  justify-content: center;
}

.main__section-title--btn-sol {
  background-color: #2196f3;
  color: #f5f4fa;
  width: 200px;
  padding: 10px;
  font-weight: 700;
  line-height: 30px;
}

/*Section values*/
.main__section-values ul {
  box-sizing: content-box;
  text-align: left;
}

.main__section-solution {
  display: flex;
  justify-content: space-between;
}

.main__section-solution-card {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
}

.main__section-solution-card ul {
  padding: 0px;
}

.main__section--svg-solution {
  text-align: center;
  width: 70px;
  border-radius: 4px;
}

.main__section--svg-container {
  background-color: #f5f4fa;
  text-align: center;
  border-radius: 4px;
}

.main__section-solution-card h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.main__section-services-lists {
  display: flex;
  justify-content: space-between;
}

.main__section-services-container {
  position: relative;
  overflow: hidden;
  display: flex;
}

.main__service-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  width: 100%;
  height: 25%;
  bottom: 0px;
}

/*portfolio.html*/
/*Section card*/
.portfolio__btn-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.portfolio__btn-lst {
  padding: 6px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  background-color: #ececec;
  color: #212121;
}
.portfolio__btn-lst:hover, .portfolio__btn-lst:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px rgba(117, 117, 117, 0.2);
}

.section-portfolio__card-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info__image-container {
  position: relative;
  overflow: hidden;
}

.image-container__p-description {
  position: absolute;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 150, 243, 0.8);
  color: #ffffff;
  margin: 0px;
  padding: 15px;
  top: 100%;
  width: 100%;
  height: 100%;
}

.card-data__info {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  text-align: left;
  margin-bottom: 30px;
}
.card-data__info:hover {
  cursor: pointer;
  box-shadow: 2px 3px rgba(117, 117, 117, 0.2);
  border-radius: 4px;
}
.card-data__info:hover .image-container__p-description {
  top: 0px;
}
.card-data__info h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
}

.info__description-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 370px;
  border: 1px solid #ececec;
  padding: 40px 10px;
}

.transition {
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Section team*/
.main__section-team {
  background-color: #f5f4fa;
}

.main_section-team-card {
  display: flex;
  justify-content: space-between;
}

.team-card li {
  border: 1px;
  width: 270px;
  border-style: solid;
  border-color: #eeeeee;
  border-radius: 0px 0px 4px 4px;
}

.team-card h3 {
  color: var(#212121);
}

.team-card > li {
  box-shadow: 2px 3px rgba(117, 117, 117, 0.2);
}

.team-card__ul-links {
  padding: 10px 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card__ul-links .ul-links__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
}
.team-card__ul-links .ul-links__social-link:hover {
  background-color: #2196f3;
  cursor: pointer;
  transform: scale(1.2);
}
.team-card__ul-links .ul-links__social-link:hover > .social-link__svg-icon {
  fill: #ffffff;
}

.social-link__svg-icon {
  fill: #757575;
  width: 20px;
  height: 20px;
}

/*Regular Clients*/
.main__section-clients-links {
  display: flex;
  gap: 30px;
}

.section-clients-links__client-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0px;
  width: 170px;
  border: 1px solid #757575;
  border-radius: 4px;
}
.section-clients-links__client-card:hover {
  cursor: pointer;
  border-color: #2196f3;
  transform: scale(1.2);
}
.section-clients-links__client-card:hover .client-card__logo {
  fill: #2196f3;
}

.client-card__logo {
  fill: #757575;
  padding: 10px;
  width: 106px;
  height: 52px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Footer*/
.footer__address {
  color: #ffffff;
  text-align: left;
  display: flex;
  padding-top: 60px;
  gap: 45px;
}

.footer__address ul li p {
  color: #ffffff;
}

.footer__address li a {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address li a:hover {
  color: #2196f3;
  background-color: transparent;
  text-decoration: none;
}

.footer__address li h2 a {
  color: #2196f3;
}

.address__links {
  margin-bottom: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 231px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.address-footer,
.footer__logo {
  margin: 0 0;
  padding: 0 0;
}

.address__links:nth-child(n) {
  padding: 0px;
  margin: 0px 0px;
}

.footer__contact-info {
  background-color: #2f303a;
}

.li__title-footer {
  font-style: initial;
  font-weight: 700;
  margin: 0px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
  width: 206px;
}

.ul-links__social-subtitle {
  display: flex;
  align-items: end;
}

.icon-footer {
  fill: #ffffff;
}

.footer__subscribe-form {
  display: flex;
  align-items: center;
  gap: 1%;
}

.subscribe-email {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  padding: 15px;
  border-radius: 4px;
}
.subscribe-email:hover {
  border: 1px solid #2196f3;
}
.subscribe-email:focus {
  border: 1px solid #2196f3;
  color: #ffffff;
}

.subscribe-form__btn {
  width: 200px;
  padding: 10px;
}

.svg-subscribe-form {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */