/*Section values*/
.values {
  ul {
    box-sizing: content-box;
    text-align: left;
  }
}
.values__solutions {
  display: flex;
  justify-content: space-between;
}
.values__solution-card {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  ul {
    padding: 0px;
  }
  h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}

.solution-card--svg-solution {
  text-align: center;
  width: 70px;
  border-radius: 4px;
}
.solution-card--svg-container {
  background-color: $team-bg-color;
  text-align: center;
  border-radius: 4px;
}
